.white-text { color: #00CC99;
}
#rounded-img { border radius: 100px; 
}
body{background-color: lightblue;
}
table.groove {border-style: groove;}
h5,table, p, ol { color: purple;}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
button{
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.5s;
}